/**************************************
General
**************************************/
html, body                  { height: 100%; }
.relativer 									{ position: relative; }
.relativer-home             { position: relative; width: 100%; height: 100%; }
.vmiddler {
	position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
}
.vmiddler-s {
  position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
}
.italic                     { font-style: italic !important; }
.same-buttoner-width button { width: 100%; }
.margin-right20             { margin-right: 20px; }
.margin-top5p								{ margin-top: 5%; }
.margin-top5                { margin-top: 5px; }
.margin-top10               { margin-top: 10px; }
.margin-top15               { margin-top: 15px; }
.margin-top50               { margin-top: 50px; }
.margin-top60               { margin-top: 60px; }
.margin-top75               { margin-top: 75px; }
.margin-top100              { margin-top: 100px; }
.margin-bottom50            { margin-bottom: 50px; }
.margin-bottom75            { margin-bottom: 75px; }
.padding-right10            { padding-right: 10px; }
.padding-right15            { padding-right: 15px; }
.padding-left10             { padding-left: 10px; }
.background-bluelight       { background: #0098d1 !important; }
.background-bluehard        { background: #00469a !important; }
.color-bluelight            { color: #0098d1 !important; }
.color-bluehard             { color: #00469a !important; }
.color-yellow               { color: #f3b70c !important; }
.color-azul                 { color: #0071ba !important; }
.color-verde                { color: #8ac43f !important; }
.color-naranja              { color: #f9ae3b !important; }
.color-blanco               { color: white !important; }
.color-gris		 							{ color: #BFBFBF !important; }
.gris-title 								{ color: #606060; margin: 25px 0; }
.color-gris-fuerte 					{ color: #BFBFBF !important; font-weight: bold; }
.icon-input                 { cursor: text; }
textarea:focus, input:focus { outline: none; }
.form-control {
  color              : #777777;
  background-color   : #f9f9f9;
  border             : 1px solid transparent;
  border-radius      : 4px;
  -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.0);
  box-shadow         : inset 0 1px 1px rgba(0,0,0,.0);
}
select {
   -webkit-appearance : none;
   -moz-appearance    : none;
   appearance         : none;
}
select::-ms-expand { display: none; }
.select-icon {
	position  : absolute;
	right     : 25px;
	top       : 0px;
	font-size : 16px;
	color     : #808090;
	cursor    : default;
}
.hrs-icon {
	position  : absolute;
	right     : 25px;
	top       : 0px;
	font-size : 24px;
	color     : #808090;
	cursor    : default;
}
.date-icon {
	position  : absolute;
	right     : 25px;
	top       : 9px;
	font-size : 16px;
	color     : #808090;
	cursor    : default;
}
.date-icon i          { display: block; }
.logo { height: 60px; width: auto; margin: auto; display: block; max-width: 187px;}
.select-icon i          { display: block; }
.ui-timepicker-standard { height: 212px !important; }
.ui-datepicker th { background: #e6f2ff; }
.ui-datepicker table { background: white; }
.acordeon-search { border-top: 2px solid #e6e6e6; }
.nopadding-left { padding-left: 0 !important; }
.nopadding-left-right { padding-left: 0 !important; padding-right: 0 !important; }
.top-border { border-top: 2px solid #e6e6e6; }
.facebook-icon { color: #3c5a99; cursor: pointer; }
.youtube-icon { color: #cc181e; cursor: pointer; }
.br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f005' !important;
  color: #d2d2d2;
}
/**************************************
Header
**************************************/
.header-button-container { height: 60px; }
.header-button-vmiddler {
  position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
 }
.header-container         { padding: 30px 0 0 0; height: 125px; }
.footer-container   { padding: 35px 0; height: 125px; }
.btn-header {
  background-color : #002476;
  border-radius    : 20px;
  color            : white;
  padding          : 10px 15px;
  width            : 100%;
  font-size        : 12px;
}
.btn-header:hover { color: white; }
.btn-header:focus {
	outline: none;
  color: white;
}
.btn-header:hover:active:focus { outline: none; color: white; }
.btn-header:focus:active { outline: none; }
.btn-header:focus:hover { color: white; }
.user-tools a { font-size: 13px; }
.cart-container .fa-shopping-cart { font-size: 30px; color: #0086c7; cursor: pointer; }
.cart-container .num-items { margin-top: -12px; font-size: 14px; color: #003c69; cursor: pointer; }
.cart-container .num-items .calendar-text { font-style: italic; }
.header-user.btn { padding-right: 0; }
/**************************************
Modal
**************************************/
.modal-image  { width: 80%; }
.popover-check { padding: 0 0 0 25px; text-align: left; }
.popover-check span { font-size: 12px; color: #797979 !important; }
.popover-check a { font-style: italic; color: #797979 !important; }
.popover-check a:hover, .popover-check a:focus { text-decoration: none; }
.modal-divider {
  position: absolute;
  height: 573px;
  width: 0.2%;
  left: 49.5%;
  background: #dbdbdb;
}
button.close.close-thisModal {
  background: white;
  border-radius: 30px;
  padding: 0 1px;
}
.close.close-thisModal {
  float: none;
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  text-shadow: none;
  filter: none;
  opacity: 1;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 9999;
}
.close.close-thisModal:hover:active:focus { outline: none; }
.close.close-thisModal:active:focus { outline: none; }
.close.close-thisModal:focus { outline: none; }
.home-modal .modal-body { position: relative; padding: 10px; }
.modal-marginer {
	margin  : 0 0;
	border  : 1px solid #dbdbdb;
	padding : 35px 40px 20px 40px;
}
.modal-left-container h3  { margin: 45px 0 30px 0; }
.modal-right-container h3 { margin: 20px 0 30px 0; }
.main-modal input[type="text"], .main-modal input[type="password"] {
	background : white;
	color      : #9e9e9e;
	border     : 1px solid #e4e4e4;
 }

.home-carousel .carousel-control i, .home-carousel .carousel-control
i, .home-carousel .carousel-control .icon-next, .home-carousel .carousel-control
.icon-prev {
  position: absolute;
  top: 50%;
  -ms-transform: translate (0,-50%);
  -webkit-transform: translate (0,-50%);
  -moz-transform: translate (0,-50%);
  -o-transform: translate (0,-50%);
  transform: translate(0,-50%);
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  color: white;
  font-size: 55px;
}
.home-carousel .carousel-control.right i { right: 15px; }
.home-carousel .carousel-control.left i  { left: 15px; }
.home-carousel .carousel-control { width: 5%; }
/**************************************
Slider
**************************************/
.carousel, .item, .active { height: 100%; }
.carousel-inner { height: 100%; b ackground-attachment: fixed; }
.fill {
  width                   : 100%;
  height                  : 100%;
  background-position     : center;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  background-size         : cover;
  -o-background-size      : cover;
}
.carousel-caption {
  position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
  height: 500px;
  padding: 0;
}
.text-slider      { font-size: 55px; margin-bottom: 0; }
.text-sliderS     { font-size: 55px; margin-top: 0; }
.btn-transparente{
	color: white;
	background: transparent;
	border-radius: 20px;
	border: solid 1px white;
	padding: 15px 30px;
}
.btn-transparente:hover{
	color: black;
	background: white;
}
.fondo-bottom{
	background-image: url('../img/fondo.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
.img-maquina { width: 100%; height: auto; }
/*
Bottom-a
*/
.btn-bottom {
	background-color : white;
	color            : #2DB8E6;
	padding          : 10px 12px;
	border-radius    : 20px;
}
.btn-bottom:hover { background-color: #2DB8E6; color: white; }
/*
Pop-up
*/
.btn-ingresar {
	background-color : #00469A;
	color            : white;
	padding          : 10px 50px;
	border-radius    : 20px;
	width            : 100%;
}
.btn-ingresar:hover {
	background-color : white;
	color            : #00469A;
	border           : solid 1px #00469A;
}
.btn-ingresar-container { margin-top: 20px; margin-bottom: 20px; }
.btn-registrarse {
	background-color : #2DB8E6;
	color            : white;
	padding          : 10px 50px;
	border-radius    : 20px;
}
.btn-registrarse:hover{
	background-color : white;
	color            : #2DB8E6;
	padding          : 10px 50px;
	border           : solid 1px #2DB8E6;
}
/**************************************
Home
**************************************/
.home-right-border { border-right: 1px solid #dbdbdb; }
.home-blue-zone h1 { font-size: 42px; font-weight: normal; margin-bottom: 20px; }
a.home-registrarse { padding: 10px 40px; color: #0071ba; font-weight: bold; }
.home-maquinas-container { position: relative; height: 100%; }
.text-bluez { padding: 0 10%; }
/**************************************
Footer
**************************************/
.right-vline { border-right: 2px solid #DFDFDF; }
.links-footer:link:hover { color: #002476; text-decoration: none; }
.links-footer { color: #999999; text-transform : uppercase; transition: 0.2s; }
.links-footer h3 { margin: 0; font-size: 15px; font-weight: normal; }
.footer-links-container { padding-top: 20px; }
.copy-footer h4 { color: #b1b1b1; font-weight: normal; font-size: 16px; }
/**************************************
aside-left
**************************************/
.logo-search .logo { width: 100%; height: auto; }
.search-input 		 { margin-top: 20px; }
.header-searcher { height: 73px; position: relative; }
.header-searcher input { width: 100%; }
.header-searcher input[type="text"]:focus { outline: none; }
.header-searcher .search-input { margin: 0; position: absolute; bottom: 0; }
.header-searcher.form-group { margin-bottom: 0 !important; }
.search-icon       {
	float: right;
  margin-right: 10px;
  margin-top: -31px;
  font-size: 18px;
}
.input-gen         { border: 0; background: #f9f9f9; color: #777777; }
.input-gen::-webkit-input-placeholder { color: #0E0E0E; }
.input-gen:-moz-placeholder           { color: #0E0E0E; }
.input-gen::-moz-placeholder          { color: #0E0E0E; }
.input-gen:-ms-input-placeholder      { color: #0E0E0E; }
.search-input { height: 45px; }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #428bca;
}
.margintop20         { margin-top:20px; }
.nav-pills>li>a      { border-radius: 0px; }
.nav-stacked a       { color: #000; text-decoration: none; }
.nav-stacked a:hover { color: #000; text-decoration: none; }
.nav-stacked>li {
	margin-top    : 0px;
	margin-left   : 0px;
	border-bottom : 1px solid #dadada;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration  : none;
  background-color : initial;
  color            : #0086c7;
}
.active2  { border-right: 4px solid #428bca; }
.nav>li>a { text-transform: uppercase; color: #D8D8D8; transition: color 0.2s; }
/**************************************
aside-left filter-search
**************************************/
.filter-search {
	margin-top : 40px;
	box-shadow : 0px 0px 20px #e4e4e4;
	padding    : 20px;
}
.filter-search h4 {
  text-transform : uppercase;
  border-bottom  : 1px solid #dadada;
  font-weight    : normal;
  padding        : 0 0 10px 18px;
  color          : #000000;
  font-size      : 18px;
}
.margin-type        { padding: 5px; }
.margin-type button {
	padding        : 1px 4px;
	font-size      : 9px;
	text-transform : uppercase;
	color          : white;
	margin         : 5px 3px;
	border-radius  : 0;
}
.margin-type button:hover { color: #4ea6d5; }
.fs-section      { padding-bottom: 20px; border-bottom: 1px solid #dadada; }
.fs-filter-title {
  text-transform : uppercase;
  font-size      : 16px;
  margin         : 10px 17px;
  color          : #4ea6d5;
}
.fs-section .ui-state-default, .fs-section .ui-widget-content .ui-state-default,
.fs-section .ui-widget-header .ui-state-default, .fs-section .ui-button,
html .fs-section .ui-button.ui-state-disabled:hover, html
.fs-section .ui-button.ui-state-disabled:active {
  border-radius : 30px;
  background    : #428bca;
  width         : 13px;
  height        : 13px;
  border        : none;
  cursor        : pointer;
}
.ui-widget.ui-widget-content { border: none; background: #efefef; height: 6px; }
.ui-slider .ui-slider-range  { background: #c5c5c5; }
.checkbox-filter { font-size: 12px; color: #949595; font-weight: normal; }
.checkbox-leftm  { margin-left: 15px; }
.br-theme-fontawesome-stars-o .br-widget { margin-left: 15px; }
.text-slider-range {
	position: absolute;
  top: 14px;
  right: -25px;
  color: #4ea6d5;
  font-weight: bold;
  padding: 0px 10px;
  background: white;
}
.slider-container { position: relative; }
#slider 			    { margin-bottom: 15px; }
#range-parent     { position: absolute; top: 15px; width: 100%; }
#first-range      {}
#second-range     { float: right; }
.fs-section .ui-state-default, .fs-section .ui-widget-content .ui-state-default,
.fs-section .ui-widget-header .ui-state-default, .fs-section .ui-button,
html .fs-section .ui-button.ui-state-disabled:hover,
html .fs-section .ui-button.ui-state-disabled:active {
  outline: none;
}
.checkbox-filter input[type=checkbox] {
	width: 14px;
	height: 14px;
	margin: 0 2px 0 0;
}
.rate-search-container .br-theme-fontawesome-stars-o .br-widget {
  margin-left: 12px;
}
/**************************************
aside-right search
**************************************/
.panel {
  border             : 1px solid transparent;
  border-radius      : 0;
  -webkit-box-shadow : 0 1px 1px rgba(0,0,0,.0);
  box-shadow         : 0 1px 1px rgba(0,0,0,0);
}
.panel-default { border-color: transparent; }
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group
.panel-heading+.panel-collapse>.panel-body {
  border-top: transparent;
}
.panel-default>.panel-heading {
  color            : #333;
  background-color : #f5f5f5;
  border-color     : #ddd;
}
.panel-default>.panel-heading {
  color            : #0086c7;
  background-color : #eaf4f9;
  border-color     : #eaf4f9;
}
.panel-title {
  font-size      : 17px;
  text-transform : uppercase;
  font-weight    : normal;
  color            : #0086c7;
}
.payment-collapse-container .panel-title {   color: #0086c7; }
.panel-heading {
  padding                 : 15px 20px;
  border-top-left-radius  : 0px;
  border-top-right-radius : 0px;
}
.panel-title i           { font-size: 20px; margin-right: 10px; }
.panel-body              { padding: 20px 15px; }
.circlef-container label {
	font-size: 18px;
	color: #d8d8d8;
	cursor: pointer;
	transition: 0.2s;
}
.circlef-container label.active { color: #428bca; }
.circle-filter {
	height        : 150px;
	width         : 150px;
	background    : #fff;
	border-radius : 50%;
	margin        : 13px auto;
	box-shadow    : 0px 0px 8px #404040;
	border        : 4px solid white;
	overflow      : hidden;
	position      : relative;
	cursor        : pointer;
 }
.circle-filter img { width: 100%; heiht: 100%; }
.opaciter {
	position      : absolute;
	width         : 100%;
	height        : 100%;
	background    : #40b5ff;
	opacity       : 0;
	border-radius : 50%;
	transition    : opacity 0.3s;
}
.prod-search {
	padding-bottom: 30px;
	box-shadow: 0 0 5px #b3b3b3;
	margin-bottom: 30px;
}
.opaciter.active        { opacity: 0.5; }
.prod-search img        { width: 100%; padding-top: 15px; padding-bottom: 15px; }
.prod-price, .prod-name { font-size: 16px; margin: 15px 0; }
.prod-name              { color: #0086c7; font-weight: 500; margin: 15px 0; }
.text-uppercase         { text-transform: uppercase; }
.prod-description {
  color         : #676767;
  font-size     : 12px;
  font-weight   : 300;
  margin: 15px 0;
}
.prod-price { color: #0086c7; font-weight: bold; }
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  color: #0086c7 !important;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after   {
  color: #428bca !important;
}
.btn-search {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background: #00469a;
	border-color: #00469a;
}
.prod-img-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
.prod-img-container img {
	position          : absolute;
	left              : 0;
	top               : 50%;
	-ms-transform     : translate (0,-50%);
	-webkit-transform : translate (0,-50%);
	-moz-transform    : translate (0,-50%);
	-o-transform      : translate (0,-50%);
	transform         : translate(0,-50%);
}
/**************************************
Provider-profile
**************************************/
.provider-left { padding: 50px; }
.provider-left h4 {
	text-transform : uppercase;
	font-size      : 10px;
	color          : #428bca;
}
.name-provider h5 {
  text-transform  : uppercase;
  font-weight     : normal;
  color           : #dfdfdf;
  text-decoration : underline;
  font-size       : 22px;
  transition      : color 0.2s;
}
.service-provider h5 {
  text-transform  : uppercase;
  font-weight     : normal;
  color           : #dfdfdf;
  font-size       : 22px;
  transition      : color 0.2s;
}
.name-provider h5:not(.non-hover-t):hover, .service-provider h5:not(.non-hover-t):hover { color: #428bca; }
.price-provider h5 																	{ font-size: 22px; }
.nav-provider.nav>li>div {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #dfdfdf;
  cursor: pointer;
}
.nav-provider>li>div:focus, .nav-provider>li>div:hover  {
  text-decoration  : none;
  background-color : #428bca;
  color            : white;
  transition       : background 0.2s, color 0.2s;
}
.nav-provider>li.active>div, .nav-provider>li.active>div {
  text-decoration: none;
  background-color: #428bca;
  color: white;
  transition: background 0.2s, color 0.2s;
}
.back-provider {
	margin-top: 50px;
	color: #428bca;
	position: relative;
	cursor: pointer;
}
.back-provider .icon { font-size: 12px; }
.back-provider .back {
	font-size      : 20px;
	text-transform : uppercase;
	position       : absolute;
	top            : -1px;
	left           : 35px;
}
.carousel-provider-container { height: 325px; margin: 45px 0;}
.provider-carousel-img img {
	width             : 100%;
	position          : absolute;
	top               : 50%;
	-ms-transform     : translate (0,-50%);
	-webkit-transform : translate (0,-50%);
	-moz-transform    : translate (0,-50%);
	-o-transform      : translate (0,-50%);
	transform         : translate(0,-50%);
}
.carousel-control .fa-stack, .carousel-control
.fa-stack, .carousel-control .icon-next, .carousel-control
.icon-prev {
	position          : absolute;
	top               : 50%;
	-ms-transform     : translate (0,-50%);
	-webkit-transform : translate (0,-50%);
	-moz-transform    : translate (0,-50%);
	-o-transform      : translate (0,-50%);
	transform         : translate(0,-50%);
	z-index           : 5;
	display           : inline-block;
	margin-top        : -10px;
	color  						: #428bca;
}
.left.carousel-control .fa-stack,
.carousel-control .icon-prev {
  left: 0;
}
.right.carousel-control .fa-stack,
.carousel-control .icon-next {
  right: 0;
}
.carousel-control.left, .carousel-control.right {
  background-image : initial;
  filter           : initial;
}
.caract-servicio-container h2, .caract-servicio-container h3 {
	color          : #428bca;
	text-transform : uppercase;
	margin      : 0;
}
.features-service-title h2 {
	font-size   : 16px;
	font-weight : normal;
	margin      : 0;
}
.features-service-title { background: #e5f3ff; padding: 15px 20px; }
.caract-servicio-container .subtitle { padding: 15px 5px; }
.caract-servicio-container .subtitle h3 { font-size: 12px; font-weight: normal; }
.caract-servicio-container .description {
	background-color : #f1f1f1;
	color            : #ababab;
	padding          : 15px 5px;
}
.caract-servicio-container .description p { margin: 0 !important; }
.rating-zone h3, .rating-zone h4 { margin: 0; text-transform: uppercase; }
.rating-zone { padding-left: 35px; color: #428bca; margin-top: 30px; }
.rating-zone h3 { font-size: 16px; font-weight: normal; }
.rating-zone h4 { font-size: 12px; font-weight: 400; }
.rating-zone p 	{ font-size: 11px; font-weight: 300; }
.rating-zone .br-theme-fontawesome-stars-o .br-widget 	{ margin-left: 0px; }
.title-rating                                           { margin-top: 25px; }
.rate-container                                         { margin-top: 10px; }
.rating-zone .br-theme-fontawesome-stars-o .br-widget a { font-size: 25px;  }
.comments-service {
	margin-top : 25px;
	padding    : 5px;
	border     : 2px solid #e5f3ff;
	min-height : 112px;
}
.provider-all-container { margin-bottom: 10%; }
.provider-cont.active { display: inline; }
.provider-cont { display: none; }
.table-repertorio { height: 324px; }
.table-repertorio .table * {
	text-align: center;
	border: none;
	color: #666565;
	font-weight: normal;
}
.politics-title-context { padding: 15px 20px; }
.politics-title-context h3 { font-size: 14px; margin: 0 !important; }
.context-container { padding: 20px; background: #f9f9f9 }
.context-container h4 {
	text-transform: uppercase;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}
.context-container p {
	color: #666666;
	font-size: 14px;
}
.politics-service-title { margin-right: 0; margin-left: 0; }
.politics-service-title h2 {
	font-size   : 16px;
	font-weight : normal;
	margin      : 0;
}
.politics-service-title { background: #e5f3ff; padding: 15px 20px; }
/**************************************
Details
**************************************/
.detail               { border-top: 1px solid #EAEAEA; height: 500px; }
.btn-add, .btn-remove {
	width            : 40px;
	height           : 40px;
	border           : 0;
	background-color : transparent;
	color            : #BFBFBF;
	text-align       : center;
	padding          : 5px;
	font-size        : 20px;
}
.prod-number {
  width            : 65px;
  height           : 40px;
  border           : 2px solid #EAF4F9;
  color            : black;
  background-color : #fff;
  text-align       : center;
  padding          : 5px;
  font-size        : 20px;
  margin-top       : 14px;
}
.btn-addcar { background-color: #00469A; border-radius: 20px; color: white; }
.btn-addcar:hover {
	background-color: white;
	border: solid 1px #00469A;
	border-radius: 20px;
	color: #00469A;
}
.img-social {
	width: 30px;
	height: 30px;
}
.comments, .cancellation {
	border: solid 3px #EAF4F9;
	padding-left: 10px;
}
.cancellation {
	height: 100px;
	overflow-y:scroll;
  text-transform: uppercase;
}
#carousel-bottom > .carousel-control { background-image: none !important; }
#carousel-bottom > .carousel-control > .glyphicon-chevron-left {
	background-color : #1893CC;
	border-radius    : 100%;
	width            : 40px;
	height           : 40px;
	padding-top      : 3px;
	left             : 0% !important;
}
#carousel-bottom > .carousel-control > .glyphicon-chevron-right {
	background-color : #1893CC;
	border-radius    : 100%;
	width            : 40px;
	height           : 40px;
	padding-top      : 3px;
	right            : 0% !important;
}
.detail-img     { height: 100%; position: relative; }
.detail-img img {
	margin            : auto;
	display           : block;
}
.detail-info-body h4, .detail-info-body h6 { margin: 10px 20px; }
.info-price-period 		{ text-align: center; margin: 20px 0; }
.info-price-period h4 { margin-bottom: 0; font-size: 22px;  }
.info-price-period p  { font-size: 13px; font-weight: bold; }
.input-amount {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  padding: 0 15px;
}
.detail-info-body .btn-add, .detail-info-body .btn-remove {
	font-size   : 30px;
	font-weight : bold;
}
.addcar-group { position: relative; padding-top: 15px; }
.detail-info-body .subtotal-price { font-size: 22px; }
.proper-value h4 { text-decoration: underline; }
.provider-social { padding: 0 15px; }
.val-coment .br-theme-fontawesome-stars-o .br-widget a {
  font: normal normal normal 25px/1 FontAwesome;
}
.val-coment .br-theme-fontawesome-stars-o .br-widget { margin-left: 0px; }
.val-coment .br-widget                               { margin-bottom: 10px; }
.val-coment .comments h6                             { margin-bottom: 0; }
.detail-carousel .carousel          { padding: 0 3%; }
/*************************************
Contractor
 *************************************/
 .btn-gray {
 	color: white;
 	background-color: #BFBFBF;
 	border-radius: 20px;
 	padding: 10px 15px;
 }
 .btn-contractor{
 	background-color: #00469A;
 	border-radius: 20px;
 	color: white;
 	padding: 7px 35px;
 	width: 100%;
 }
 .btn-contractor:hover{
 	background-color: white;
 	border: solid 1px #00469A;
 	color: #00469A;
 }
 .btn-contractor2{
	background-color: #0098D1;
 	border-radius: 20px;
 	color: white;
 	padding: 7px 35px;
 }
 .btn-contractor2:hover{
 	background-color: white;
 	border: solid 1px #0098D1;
 	color: #0098D1;
 }
 .form-contractor{
 	background-color: white !important;
 	border: solid 1px #E4E4E4 !important;
 }
 .detail-contractor { border-top: 1px solid #EAEAEA; }
 .contractor-rate { text-transform: uppercase; }
 .contractor-stars { padding-top: 9px; margin-bottom: 15px; }
 .comments { min-height: 80px; }
 .comments h6 { margin-bottom: 0; }
 .comments p { font-size: 10px; }
 /**************************************
Cart
**************************************/
.title-contract h2 {
	text-transform : uppercase;
	color          : #428bca;
	font-size      : 18px;
	margin         : 25px 0;
}
.concept h3 {
	text-transform : uppercase;
	color          : #428bca;
	font-size      : 14px;
	margin         : 7px 0;
}
.description-concept p {
	text-transform : uppercase;
	color          : #dfdfdf;
	font-size      : 20px;
	margin         : 0;
}
.total-zone { background-color: #e6f2ff; }
.total-zone h2 {
	text-transform : uppercase;
	color          : #428bca;
	font-size      : 18px;
	margin         : 10px 0;
}
.total-zone p {
	text-transform : uppercase;
	color          : #181818;
	font-size      : 18px;
	margin         : 5px 0 0 0;
	font-weight    : bold;
}
.payment { padding: 20px; }
.payment h2 {
	text-transform : uppercase;
	color          : #181818;
	font-size      : 18px;
	margin         : 5px 0 0 0;
	font-weight    : normal;
}
.payment-collapse-container .panel-default>.panel-heading {
  color            : #181818;
  background-color : #dfdfdf;
  border-color     : #dfdfdf;
}
.title-detail-payment { padding-left: 15px; }
.title-detail-payment h3 {
	margin: 0;
  text-transform: uppercase;
  color: #dfdfdf;
  font-size: 16px;
}
.charge-balance { margin: 15px 0; text-align: center; }
.title-cb { text-transform: uppercase; color: #0086c7; font-size: 18px; }
.amount-total { font-weight: bold; font-size: 18px; margin-left: 10px;}
.exception-total { color: #c5c5c5; text-transform: uppercase; font-size: 11px; margin-left: 5px;}
button.pay-button {
	color: #fff;
  background-color: #61dc17;
  border-color: #61dc17;
  text-transform: uppercase;
  width: 100%;
  border-radius: 30px;
 }
 button.pay-button:hover {
  background-color: #9acb50;
  border-color: #9acb50;
 }
 .hide2 { display: none; }
 .dotted-line { border: 2px dashed white; height: 500px; width: 500px; margin: auto; border-radius: 100%;}
/**************************************
medias
**************************************/
@media (min-width: 1200px) {
	.panel-account .container-fluid, .main-panel .container-fluid, .panel-detail
	.container-fluid, .panel-description .container-fluid, .panel-find
	.container-fluid, .panel-payment .container-fluid, .panel-register
	.container-fluid, .returns-panel .container-fluid, .panel-search
	.container-fluid, .panel-shopping-cart .container-fluid {
	  width: 1170px;
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
}
@media(max-width: 991px) {
	.right-vline { border-right: none;	}
	.margin-top15sm-media { margin-top: 15px; }
	.margin-bottom15sm-media { margin-bottom: 15px; }
	.home-maquinas-container { margin-top: 50px; }
	.links-footer h3 { margin: 15px 0; }
	.home-right-border { border-right: none; }
	.vmiddler { position: relative; transform: translate(0,0); }
	.detail { height: auto; }
  .modal-divider { display: none; }
  .close.close-thisModal { right: -5px; top: -5px; }
  .popover-check { padding: 0 0 0 10px; }
  .header-container.change-responsive { padding: 20px 0 0 0; }
  .text-right.cart-container, .text-right.user-tools { text-align: center !important; }
}
@media(max-width: 919px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width: 50%;
		float: left;
	}
}
@media(max-width: 767px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width      : 33.33333333%;
	}
	.prod-search { box-shadow : 0 0 0 #b3b3b3; }
	.shopping-all-container * { text-align: center; }
	.amount-total, .exception-total { display: block; }
	.panel-title { text-align: left; }
  .header-container { height: 230px; }
  .header-button-vmiddler.padding-right10 { padding: 0 10px; }
  .header-button-vmiddler.padding-left10 { padding: 0 10px; }
  .header-container.change-responsive { height: 125px; }
}
@media(max-width: 650px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width: 50%;
	}
  .dotted-line      { height: 400px; width: 400px; }
  .text-slider      { font-size: 45px }
  .text-sliderS     { font-size: 40px; margin-top: 0; }
  .text-slider      { margin-bottom: 0; }
  .carousel-caption { height: 400px; }
}
@media(max-width: 510px) {
  .dotted-line      { height: 350px; width: 350px; }
  .text-slider      { font-size: 45px }
  .text-sliderS     { font-size: 40px; margin-top: 0; }
  .text-slider      { margin-bottom: 0; }
  .carousel-caption { height: 350px; }
}
@media(max-width: 475px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width         : 100%;
		float         : none;
		padding-right : 0;
		padding-left  : 0;
	}
	.prod-search img { padding: 0; }
  .hide1 { display: none; }
  .hide2 { display: inline; }
}
@media(max-width: 440px) {
  .dotted-line      { height: 200px; width: 200px; }
  .text-slider      { font-size: 25px }
  .text-sliderS     { font-size: 20px; margin-top: 0; }
  .text-slider      { margin-bottom: 0; }
  .carousel-caption { height: 200px; }
  .btn-transparente { border-radius: 10px; padding: 5px 10px; }
}
@media(max-width: 360px) {
  .btn-ingresar { padding: 10px 0; }
}

