/**************************************
General
**************************************/
html,
body {
    height: 100%;
}
.margin-top10{
	margin-top: 10px;
}
.margin-top50{
	margin-top: 50px;
}
.margin-bottom50{
	margin-bottom: 50px;
}
.color-azul{
	color: #2DB8E6 !important;
}
.color-verde{
	color: #9ACB50 !important;
}
.color-naranja{
	color: #FBBB4B !important;
}
.color-blanco{
	color: white !important;
}
/**************************************
Header
**************************************/
.btn-header{
	background-color: #002476;
	border-radius: 20px;
	color: white;
	padding: 10px 15px;
}
.btn-header:hover{
	background-color: white;
	color: #002476;
	border: solid 1px #002476;
}
/**************************************
Slider
**************************************/
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    background-attachment: fixed;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-caption{
	bottom: 45%;
}
.text-slider{
	font-size: 45px;
}
/*
Bottom-a
*/
.btn-bottom{
	background-color: white;
	color: #2DB8E6;
	padding: 10px 12px;
	border-radius: 20px;
}
.btn-bottom:hover{
	background-color: #2DB8E6;
	color: white;
}
/*
Pop-up
*/
.btn-ingresar{
	background-color: #00469A;
	color: white;
	padding: 10px 50px;
	border-radius: 20px;
}
.btn-ingresar:hover{
	background-color: white;
	color: #00469A;
	border: solid 1px #00469A;
}
.btn-registrarse{
	background-color: #2DB8E6;
	color: white;
	padding: 10px 50px;
	border-radius: 20px;
}
.btn-registrarse:hover{
	background-color: white;
	color: #2DB8E6;
	padding: 10px 50px;
	border: solid 1px #2DB8E6;
}