/**************************************
General
**************************************/
html, body      { height: 100%; }
.relativer      { position: relative; }
.relativerh100  { position: relative; height: 100%; }
.cart-relativer { height: 30px; }
.relativer-home { position: relative; width: 100%; height: 100%; }
.break          { clear: both; }
.floatr         { float: right; }
.vmiddler {
	position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
}
.vmiddler-s {
  position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
}
.italic                     { font-style: italic !important; }
.same-buttoner-width button { width: 100%; }
.margin-right20             { margin-right: 20px; }
.margin-top5p								{ margin-top: 5%; }
.margin-top5                { margin-top: 5px; }
.margin-top10               { margin-top: 10px; }
.margin-top15               { margin-top: 15px; }
.margin-top50               { margin-top: 50px; }
.margin-top60               { margin-top: 60px; }
.margin-top75               { margin-top: 75px; }
.margin-top100              { margin-top: 100px; }
.margin-bottom50            { margin-bottom: 50px; }
.margin-bottom75            { margin-bottom: 75px; }
.margin-tb15                { margin: 15px 0; }
.padding-right10            { padding-right: 10px; }
.padding-right15            { padding-right: 15px; }
.padding-left10             { padding-left: 10px; }
.padding-tb30               { padding: 30px 0 !important; }
.padding-rl35               { padding: 0 35px !important; }
.padding-rl50               { padding: 0 50px !important; }
.background-bluelight       { background: #0098d1 !important; }
.background-bluelight2      { background: #F2F7FC !important; }
.background-bluehard        { background: #00469a !important; }
.color-bluelight            { color: #0098d1 !important; }
.color-bluehard             { color: #00469a !important; }
.color-yellow               { color: #f3b70c !important; }
.color-azul                 { color: #0071ba !important; }
.color-verde                { color: #8ac43f !important; }
.color-naranja              { color: #f9ae3b !important; }
.color-blanco               { color: white !important; }
.color-gris		 							{ color: #BFBFBF !important; }
.gris-title 								{ color: #606060; margin: 25px 0; }
.color-gris-fuerte 					{ color: #BFBFBF !important; font-weight: bold; }
.color-gris-fuerte-2        { color: #878787; }
.color-negro                { color: #222 !important; }
.icon-input                 { cursor: text; }
textarea:focus, input:focus { outline: none; }
.form-control {
  color              : #777777;
  background-color   : #f9f9f9;
  border             : 1px solid transparent;
  border-radius      : 4px;
  -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.0);
  box-shadow         : inset 0 1px 1px rgba(0,0,0,.0);
}
select {
   -webkit-appearance : none;
   -moz-appearance    : none;
   appearance         : none;
}
select::-ms-expand { display: none; }
.select-icon {
	position  : absolute;
	right     : 10px;
	top       : 0px;
	font-size : 16px;
	color     : #808090;
	cursor    : default;
}
.hrs-icon {
	position  : absolute;
	right     : 10px;
	top       : 0px;
	font-size : 24px;
	color     : #808090;
	cursor    : default;
}
.date-icon {
	position  : absolute;
	right     : 10px;
	top       : 9px;
	font-size : 16px;
	color     : #808090;
	cursor    : default;
}
.date-icon i          { display: block; }
.logo { height: 60px; width: auto; margin: auto; display: block; max-width: 187px;}
.select-icon i          { display: block; }
.ui-timepicker-standard { height: 212px !important; }
.ui-datepicker th { background: #e6f2ff; }
.ui-datepicker table { background: white; }
.nopadding-left { padding-left: 0 !important; }
.nopadding-right { padding-right: 0 !important; }
.nopadding-left-right { padding-left: 0 !important; padding-right: 0 !important; }
.top-border { border-top: 2px solid #e6e6e6; }
.facebook-icon { color: #3c5a99; cursor: pointer; }
.youtube-icon { color: #cc181e; cursor: pointer; }
.instagram-icon { color: #2F5C85; cursor: pointer; }
.internet-icon { color: #3072BB; cursor: pointer; }
.br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f005' !important;
  color: #d2d2d2;
}
/**************************************
Header
**************************************/
.header-button-container { height: 60px; }
.header-button-vmiddler {
  position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
 }
.header-container         { padding: 30px 0 0 0; height: 125px; }
.footer-container   { padding: 35px 0; height: 125px; }
.btn-header {
  background-color : #002476;
  border-radius    : 20px;
  color            : white;
  padding          : 10px 15px;
  width            : 100%;
  font-size        : 12px;
}
.btn-header:hover { color: white; }
.btn-header:focus {
	outline: none;
  color: white;
}
.btn-header:hover:active:focus { outline: none; color: white; }
.btn-header:focus:active { outline: none; }
.btn-header:focus:hover { color: white; }
.user-tools a { font-size: 13px; }
.cart-container { position: absolute; z-index: 2000; right: 0; }
.cart-container .fa-shopping-cart { font-size: 30px; color: #0086c7; cursor: pointer; }
.cart-container .num-items { margin-top: -12px; font-size: 14px; color: #003c69; cursor: pointer; }
.cart-container .num-items .calendar-text { font-style: italic; }
.header-user.btn { padding-right: 0; }
/**************************************
Modal
**************************************/
.modal { position: absolute; top: 40px; }
.modal-image  { width: 80%; }
.popover-check { padding: 0 0 0 25px; text-align: left; }
.popover-check span { font-size: 12px; color: #797979 !important; }
.popover-check a { font-style: italic; color: #797979 !important; }
.popover-check a:hover, .popover-check a:focus { text-decoration: none; }
.modal-divider {
  position: absolute;
  height: 573px;
  width: 0.2%;
  left: 49.5%;
  background: #dbdbdb;
}
button.close.close-thisModal {
  background: white;
  border-radius: 30px;
  padding: 0 1px;
}
.close.close-thisModal {
  float: none;
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  text-shadow: none;
  filter: none;
  opacity: 1;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 9999;
}
.close.close-thisModal:hover:active:focus { outline: none; }
.close.close-thisModal:active:focus { outline: none; }
.close.close-thisModal:focus { outline: none; }
.home-modal .modal-body { position: relative; padding: 10px; }
.modal-marginer {
	margin  : 0 0;
	border  : 1px solid #dbdbdb;
	padding : 35px 40px 20px 40px;
}
.modal-left-container h3  { margin: 45px 0 30px 0; }
.modal-right-container h3 { margin: 20px 0 30px 0; }
.main-modal input[type="text"], .main-modal input[type="password"],
.main-modal input[type="text"] {
	background : white;
	color      : #9e9e9e;
	border     : 1px solid #e4e4e4;
 }

.home-carousel .carousel-control i, .home-carousel .carousel-control
i, .home-carousel .carousel-control .icon-next, .home-carousel .carousel-control
.icon-prev {
  position: absolute;
  top: 50%;
  -ms-transform: translate (0,-50%);
  -webkit-transform: translate (0,-50%);
  -moz-transform: translate (0,-50%);
  -o-transform: translate (0,-50%);
  transform: translate(0,-50%);
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  color: white;
  font-size: 55px;
}
.home-carousel .carousel-control.right i { right: 15px; }
.home-carousel .carousel-control.left i  { left: 15px; }
.home-carousel .carousel-control { width: 5%; }
 /**************************************
Cart Modal
**************************************/
#cart-modal .modal-body { padding: 10px; }
#cart-modal .modal-body .modal-border {
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  padding: 20px 40px;
}
#cart-modal .modal-body .line-modal {
  height: 1px;
  width: 100%;
  background: #d4d4d4;
  margin: 20px 0;
}
#cart-modal .modal-body .cart-element {
}
#cart-modal .modal-body .cart-element .col-sm-2 { height: 120px; }
#cart-modal .modal-body .cart-element .col-sm-2 input {
  position          : absolute;
  top               : 48%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
  left: 45%;
}
#cart-modal .modal-body .cart-element .item-img-container {
  position: absolute;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
  width: 100% }
#cart-modal .modal-body .cart-element .item-img-container img { width: 100%; height: auto; }
#cart-modal .modal-body .cart-element .desc1 { padding-top: 20px; }
#cart-modal .modal-body .cart-element .desc1 h4 { text-transform: uppercase; color: #0086c7; }
#cart-modal .modal-body .cart-element .desc1 p { text-transform: uppercase; color: #797979; }
#cart-modal .modal-body .cart-element .desc2 { text-align: right; margin-top: 20px; }
#cart-modal .modal-body .cart-element .desc2 h4 {
  font-size: 18px;
  margin: 0 5px 0 0 !important;
  text-transform: uppercase;
  color: #0086c7;
  float: right;
}
#cart-modal .modal-body .cart-element .desc2 h5 {
  font-size: 18px;
  margin: 0 !important;
  text-transform: uppercase;
  color: #003c69;
  float: right;
}
#cart-modal .modal-body .cart-element .btn1 {
  padding: 10px 40px;
  background: #0086c7;
  border: none;
  border-radius: 25px;
  color: white;
}
#cart-modal .modal-body .cart-element .btn2 {
  padding: 10px 40px;
  background: #00469a;
  border: none;
  border-radius: 25px;
  color: white;
}
#cart-modal .modal-body .cart-element .btn1:focus, #cart-modal .modal-body .cart-element .btn2:focus {
  outline: none;
}
/**************************************
Slider
**************************************/
.carousel, .item, .active { height: 100%; }
.carousel-inner { height: 100%; b ackground-attachment: fixed; }
.fill {
  width                   : 100%;
  height                  : 100%;
  background-position     : center;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  background-size         : cover;
  -o-background-size      : cover;
}
.carousel-caption {
  position          : absolute;
  width             : 100%;
  top               : 50%;
  left              : 0;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
  height: 500px;
  padding: 0;
}
.text-slider      { font-size: 55px; margin-bottom: 0; }
.text-sliderS     { font-size: 55px; margin-top: 0; }
.btn-transparente{
	color: white;
	background: transparent;
	border-radius: 20px;
	border: solid 1px white;
	padding: 15px 30px;
}
.btn-transparente:hover{
	color: black;
	background: white;
}
.fondo-bottom{
	background-image: url('../img/fondo.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}
.img-maquina { width: 100%; height: auto; }
/*
Bottom-a
*/
.btn-bottom {
	background-color : white;
	color            : #2DB8E6;
	padding          : 10px 12px;
	border-radius    : 20px;
}
.btn-bottom:hover { background-color: #2DB8E6; color: white; }
/*
Pop-up
*/
.btn-ingresar { width: 100%; }
.btn-solicitar {
  width: 250px;
  border: 1px solid transparent;
  font-weight: 300;
}
.btn-ingresar, .btn-solicitar {
	background-color : #00469A;
	color            : white;
	padding          : 10px 50px;
	border-radius    : 20px;
}
.btn-ingresar:hover, .btn-solicitar:hover {
	background-color : white;
	color            : #00469A;
	border           : solid 1px #00469A;
}
.btn-ingresar-container { margin-top: 20px; margin-bottom: 20px; }
.btn-registrarse {
	background-color : #2DB8E6;
	color            : white;
	padding          : 10px 50px;
	border-radius    : 20px;
}
.btn-registrarse:hover{
	background-color : white;
	color            : #2DB8E6;
	padding          : 10px 50px;
	border           : solid 1px #2DB8E6;
}
/**************************************
Home
**************************************/
.home-right-border { border-right: 1px solid #dbdbdb; }
.home-blue-zone h1 { font-size: 42px; font-weight: normal; margin-bottom: 20px; }
a.home-registrarse { padding: 10px 40px; color: #0071ba; font-weight: bold; }
.home-maquinas-container { position: relative; height: 100%; }
.text-bluez { padding: 0 10%; }
/**************************************
Footer
**************************************/
.right-vline { border-right: 2px solid #DFDFDF; }
.links-footer:link:hover { color: #002476; text-decoration: none; }
.links-footer { color: #999999; text-transform : uppercase; transition: 0.2s; }
.links-footer h3 { margin: 0; font-size: 15px; font-weight: normal; }
.footer-links-container { padding-top: 20px; }
.copy-footer h4 { color: #b1b1b1; font-weight: normal; font-size: 16px; }
/**************************************
aside-left
**************************************/
.logo-search .logo { width: 100%; height: auto; }
.search-input 		 { position: relative; height: 45px; margin-bottom: 0 !important; }
.search-gen        {
  position: absolute;
  height: 45px;
  margin-bottom: 0 !important;
  z-index: 1;
}
.header-searcher { height: 73px; position: relative; }
.header-searcher input { width: 100%; }
.header-searcher input[type="text"]:focus { outline: none; }
.header-searcher .search-input { margin: 0; position: absolute; bottom: 0; }
.header-searcher.form-group { margin-bottom: 0 !important; }
.search-icon       {
	position: absolute;
  top               : 45%;
  -ms-transform     : translate (0,-50%);
  -webkit-transform : translate (0,-50%);
  -moz-transform    : translate (0,-50%);
  -o-transform      : translate (0,-50%);
  transform         : translate(0,-50%);
  right: 10px;
  z-index: 2;
  font-size: 18px;
  color: #a6a6a6;
}
.input-gen         { border: 0; background: #f9f9f9; color: #777777; }
.input-gen::-webkit-input-placeholder { color: #0E0E0E; }
.input-gen:-moz-placeholder           { color: #0E0E0E; }
.input-gen::-moz-placeholder          { color: #0E0E0E; }
.input-gen:-ms-input-placeholder      { color: #0E0E0E; }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #428bca;
}
.margintop20         { margin-top:20px; }
.nav-pills>li>a      { border-radius: 0px; }
.nav-stacked a       { color: #000; text-decoration: none; }
.nav-stacked a:hover { color: #000; text-decoration: none; }
.nav-stacked>li {
	margin-top    : 0px;
	margin-left   : 0px;
	border-bottom : 1px solid #dadada;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration  : none;
  background-color : initial;
  color            : #0086c7;
}
.active2  { border-right: 4px solid #428bca; }
.nav>li>a { text-transform: uppercase; color: #797979; transition: color 0.2s; }
/**************************************
aside-left filter-search
**************************************/
.filter-vline {
  margin-bottom: 20px;
  height: 1px;
  width: 92%;
  margin-left: 4%;
  background: #d4d4d4;
  }
.filter-search {
	margin-top : 70px;
	box-shadow : 0px 0px 20px #e4e4e4;
}
.filter-search h4 {
  text-transform : uppercase;
  border-bottom  : 1px solid #dadada;
  font-weight    : normal;
  padding        : 0 0 10px 18px;
  color          : #000000;
  font-size      : 18px;
}
.margin-type        { padding: 5px; }
.margin-type button {
	padding        : 1px 4px;
	font-size      : 9px;
	text-transform : uppercase;
	color          : white;
	margin         : 5px 3px;
	border-radius  : 0;
}
.margin-type button:hover { color: #4ea6d5; }
.fs-filter-title i.fa { font-size: 20px;  }
.fs-filter-title {
  text-transform : uppercase;
  font-size      : 16px;
  padding        : 10px 0 10px 20px;
  color          : #0086c7;
  background     : #eaf4f9;
}
.fs-section .ui-state-default, .fs-section .ui-widget-content .ui-state-default,
.fs-section .ui-widget-header .ui-state-default, .fs-section .ui-button,
html .fs-section .ui-button.ui-state-disabled:hover, html
.fs-section .ui-button.ui-state-disabled:active {
  border-radius : 30px;
  background    : #428bca;
  width         : 13px;
  height        : 13px;
  border        : none;
  cursor        : pointer;
}
.ui-widget.ui-widget-content { border: none; background: #efefef; height: 6px; }
.ui-slider .ui-slider-range  { background: #c5c5c5; }
.checkbox-filter { font-size: 12px; color: #949595; font-weight: normal; }
.checkbox-filter.active { color: #4ea6d5; }
.checkbox-leftm  { margin-left: 15px; position: relative; }
.br-theme-fontawesome-stars-o .br-widget { margin-left: 15px; }
.text-slider-range {
	position: absolute;
  top: 14px;
  right: -25px;
  color: #4ea6d5;
  font-weight: bold;
  padding: 0px 10px;
  background: transparent;
}
.slider-container { position: relative; height: 100px; }
#slider 			    { margin-top: 25px; }
#range-parent     { position: absolute; top: 45px; width: 92%; z-index: -1; }
#first-range      {}
#second-range     { float: right; }
.fs-section .ui-state-default, .fs-section .ui-widget-content .ui-state-default,
.fs-section .ui-widget-header .ui-state-default, .fs-section .ui-button,
html .fs-section .ui-button.ui-state-disabled:hover,
html .fs-section .ui-button.ui-state-disabled:active {
  outline: none;
}
.checkbox-filter input[type=checkbox] {
	width: 14px;
	height: 14px;
	margin: 0 2px 0 0;
}
.rate-search-container .br-theme-fontawesome-stars-o .br-widget {
  margin-left: 12px;
}
.filter-content { padding: 10px; }
.checkbox-leftm > [type="checkbox"],
  .checkbox-leftm > label{
    margin-bottom:0px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox-leftm > [type="checkbox"]:not(:checked),
  .checkbox-leftm > [type="checkbox"]:checked {
    position: absolute;
    left: 1px;
    z-index: 1;
    opacity: 0 !important;
  }
  .checkbox-leftm > [type="checkbox"]:not(:checked) + label,
  .checkbox-leftm > [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 22px;
  }
  .checkbox-leftm > [type="checkbox"]:not(:checked) + label:before,
  .checkbox-leftm > [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0;
    top: 50%;
    margin-top:-9px;
    width: 13px;
    height: 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .checkbox-leftm > [type="checkbox"]:not(:checked) + label:after,
  .checkbox-leftm > [type="checkbox"]:checked + label:after {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 8px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 1px;
    width: 11px;
    border-radius: 3px;
    color: #fff;
    transition: all .1s;
    background: #0086c7;
    padding: 1px;
  }

  .checkbox-leftm > [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  .checkbox-leftm > [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  .checkbox-leftm > [type="checkbox"][data-indeterminate] + label:after,
  .checkbox-leftm > [type="checkbox"][data-indeterminate] + label:after {
    content: '\2212';
    left: 2px;
    opacity: 1;
    transform: scale(1);
  }

  .checkbox-leftm > [type="checkbox"]:disabled:not(:checked) + label:before,
  .checkbox-leftm > [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      background-color: #eeeeee;
    border-color: #eeeeee;
    cursor: not-allowed;
    opacity: 1;
    color: #dadada;
  }
  .checkbox-leftm > [type="checkbox"]:disabled:checked + label:after {
    color: #dadada; cursor: not-allowed;
  }
  .checkbox-leftm > [type="checkbox"]:disabled + label {
    color: #aaa; cursor: not-allowed;
  }
  .checkbox-leftm > [type="checkbox"]:checked:focus + label:before,
  .checkbox-leftm > [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .checkbox-leftm > label:hover:before {
      border: 1px solid #88D2FF !important;
  }
  .checkbox-leftm > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
  .checkbox-leftm > [type="checkbox"]:disabled:checked + label:hover:before{
    border: 1px solid #E4E4E4 !important;
  }
  .big-list { max-height: 160px; overflow-y: auto; }
  .dater { position: relative; }
  .default-button button {
    width: 100%;
    height: 34px;
    border: none;
    border-radius: 20px;
    background: #bfbfbf;
    font-size: 14px;
  }
  .fs-section .ui-slider .ui-slider-handle { z-index: 0; }
  .rate-search-container .br-theme-fontawesome-stars-o .br-widget a {
    font: normal normal normal 30px/1 FontAwesome;
}
.rate-search-container .br-theme-fontawesome-stars-o .br-widget {
  margin-left: 20px;
}
/**************************************
aside-right search
**************************************/
.panel {
  border             : 1px solid transparent;
  border-radius      : 0;
  -webkit-box-shadow : 0 1px 1px rgba(0,0,0,.0);
  box-shadow         : 0 1px 1px rgba(0,0,0,0);
}
.panel-default { border-color: transparent; }
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group
.panel-heading+.panel-collapse>.panel-body {
  border-top: transparent;
}
.panel-default>.panel-heading {
  color            : #333;
  background-color : #f5f5f5;
  border-color     : #ddd;
}
.panel-default>.panel-heading {
  color            : #0086c7;
  background-color : #eaf4f9;
  border-color     : #eaf4f9;
}
.panel-title {
  font-size      : 17px;
  text-transform : uppercase;
  font-weight    : normal;
  color            : #0086c7;
}
.payment-collapse-container .panel-title {   color: #0086c7; }
.panel-heading {
  padding                 : 15px 20px;
  border-top-left-radius  : 0px;
  border-top-right-radius : 0px;
}
.panel-title i           { font-size: 20px; margin-right: 10px; }
.panel-body              { padding: 20px 15px; }
.circlef-container label {
	font-size: 18px;
	color: #d8d8d8;
	cursor: pointer;
	transition: 0.2s;
}
.circlef-container label.active { color: #428bca; }
.circle-filter {
	height        : 150px;
	width         : 150px;
	background    : #fff;
	border-radius : 50%;
	margin        : 13px auto;
	box-shadow    : 0px 0px 8px #404040;
	border        : 4px solid white;
	overflow      : hidden;
	position      : relative;
	cursor        : pointer;
 }
.circle-filter img { width: 100%; heiht: 100%; }
.opaciter {
	position      : absolute;
	width         : 100%;
	height        : 100%;
	background    : #40b5ff;
	opacity       : 0;
	border-radius : 50%;
	transition    : opacity 0.3s;
}
.prod-search {
	padding-bottom: 30px;
	box-shadow: 0 0 5px #b3b3b3;
	margin-bottom: 30px;
}
.opaciter.active        { opacity: 0.5; }
.prod-search img        { width: 100%; padding-top: 15px; padding-bottom: 15px; }
.prod-price, .prod-name { font-size: 16px; margin: 15px 0; }
.prod-name              { color: #0086c7; font-weight: 500; margin: 15px 0; }
.text-uppercase         { text-transform: uppercase; }
.prod-description {
  color         : #676767;
  font-size     : 12px;
  font-weight   : 300;
  margin: 15px 0;
}
.prod-price { color: #0086c7; font-weight: bold; }
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  color: #0086c7 !important;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after   {
  color: #428bca !important;
}
.btn-search {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background: #00469a;
	border-color: #00469a;
}
.prod-img-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
.prod-img-container img {
	position          : absolute;
	left              : 0;
	top               : 50%;
	-ms-transform     : translate (0,-50%);
	-webkit-transform : translate (0,-50%);
	-moz-transform    : translate (0,-50%);
	-o-transform      : translate (0,-50%);
	transform         : translate(0,-50%);
}
.liner-right { margin-top: 10px; height: 1px; background: #d4d4d4; }
.filter-label { float: left; color: #797979; }
.filter-right { float: right; position: relative; color: #797979; }
.filter-right select { border: none; background: transparent; width: 100px; }
.filter-right select:focus { outline: none; }
.filter-right i { position: absolute; right: 3px; top: 3px; z-index: -1; }
/**************************************
Provider-profile
**************************************/
.provider-left { padding: 0 50px; }
.provider-left h4 {
	text-transform : uppercase;
	font-size      : 12px;
	color          : #428bca;
}
.name-provider h5 {
  text-transform  : uppercase;
  font-weight     : normal;
  color           : #dfdfdf;
  text-decoration : underline;
  font-size       : 22px;
  transition      : color 0.2s;
}
.service-provider h5 {
  text-transform  : uppercase;
  font-weight     : normal;
  color           : #838383;
  font-size       : 16px;
  transition      : color 0.2s;
}
.name-provider h5:not(.non-hover-t):hover, .service-provider h5:not(.non-hover-t):hover { color: #428bca; }
.price-provider h5 { font-size: 22px; }
.nav-stacked.nav-provider>li:first-child {
    border-top: 1px solid #dadada;
}
.nav-provider.nav>li>div {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #797979;
  cursor: pointer;
  text-align: center;
}
.nav-provider>li>div:focus, .nav-provider>li>div:hover  {
  text-decoration  : none;
  color            : #0086c7;
  transition       : background 0.2s, color 0.2s;
}
.nav-provider>li.active>div, .nav-provider>li.active>div {
  text-decoration: none;
  color            : #0086c7;
  transition: background 0.2s, color 0.2s;
}
.back-provider {
	margin-top: 50px;
	color: #428bca;
	position: relative;
	cursor: pointer;
  text-align: center;
}
.back-provider .icon { font-size: 12px; margin-top: -10px;}
.back-container { display: inline-block; white-space: nowrap; }
.back-provider .back {
	font-size      : 20px;
	text-transform : uppercase;
}
.carousel-provider-container { height: 400px; margin: 45px 0;}
.provider-carousel-img img {
	width             : 100%;
	position          : absolute;
	top               : 50%;
	-ms-transform     : translate (0,-50%);
	-webkit-transform : translate (0,-50%);
	-moz-transform    : translate (0,-50%);
	-o-transform      : translate (0,-50%);
	transform         : translate(0,-50%);
}
.carousel-control .fa-stack, .carousel-control
.fa-stack, .carousel-control .icon-next, .carousel-control
.icon-prev {
	position          : absolute;
	top               : 50%;
	-ms-transform     : translate (0,-50%);
	-webkit-transform : translate (0,-50%);
	-moz-transform    : translate (0,-50%);
	-o-transform      : translate (0,-50%);
	transform         : translate(0,-50%);
	z-index           : 5;
	display           : inline-block;
	margin-top        : -10px;
	color  						: #428bca;
}
.left.carousel-control .fa-stack,
.carousel-control .icon-prev {
  left: 10px;
  font-size: 18px;
}
.right.carousel-control .fa-stack,
.carousel-control .icon-next {
  right: 10px;
  font-size: 18px;
}
.carousel-control.left, .carousel-control.right {
  background-image : initial;
  filter           : initial;
}
.caract-servicio-container h2, .caract-servicio-container h3 {
	color          : #428bca;
	text-transform : uppercase;
	margin      : 0;
}
.features-service-title h2 {
	font-size   : 16px;
	font-weight : normal;
	margin      : 0;
}
.features-service-title { background: #e5f3ff; padding: 15px 20px; }
.caract-servicio-container .subtitle { padding: 15px 20px; }
.caract-servicio-container .subtitle h3 { font-size: 12px; font-weight: normal; }
.caract-servicio-container .description {
	background-color : #f1f1f1;
	color            : #ababab;
	padding          : 15px 20px;
}
.caract-servicio-container .description p { margin: 0 !important; }
.rating-zone h3, .rating-zone h4 { margin: 0; text-transform: uppercase; }
.rating-zone { padding-left: 35px; color: #428bca; margin: 20px 0; }
.rating-zone h3 { font-size: 16px; font-weight: normal; }
.rating-zone h4 { font-size: 12px; font-weight: 400; }
.rating-zone p 	{ font-size: 11px; font-weight: 300; }
.rating-zone .br-theme-fontawesome-stars-o .br-widget 	{ margin-left: 0px; }
.title-rating                                           { margin-top: 0; }
.rate-container                                         { margin-top: 10px; }
.rating-zone .br-theme-fontawesome-stars-o .br-widget a { font-size: 25px;  }
.comments-service {
	margin-top : 25px;
	padding    : 5px;
	border     : 2px solid #e5f3ff;
	min-height : 112px;
}
.provider-all-container { margin-bottom: 10%; }
.provider-cont.active { display: inline; margin: 0; }
.provider-cont { display: none; }
.table-repertorio { height: 550px; }
.table-repertorio .table * {
	text-align: center;
	border: none;
	color: #666565;
	font-weight: normal;
}
.politics-title-context { padding: 15px 20px; color: #003c69; }
.politics-title-context h3 { font-size: 14px; margin: 0 !important; }
.context-container { padding: 20px; background: #f9f9f9 }
.context-container h4 {
	text-transform: uppercase;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}
.context-container p {
	color: #666666;
	font-size: 14px;
}
.politics-service-title { margin-right: 0; margin-left: 0; }
.politics-service-title h2 {
	font-size   : 16px;
	font-weight : normal;
	margin      : 0;
}
.politics-service-title { background: #e5f3ff; padding: 15px 20px; }
.lateral-provider { box-shadow: 0px 0px 20px #e4e4e4; width: 110%; margin-left: -5%;}
.lateral-provider .circle-filter { width: 90%; height: auto; }
.lateral-provider .fs-filter-title { padding: 10px 0; text-align: center; font-size: 15px; }
.lateral-provider .prov-des { text-align: center; padding: 10px 0; }
.lateral-provider .prov-des h3 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  color: #797979;
}
.lateral-provider .prov-enf1 { font-size: 22px !important; color: #003c69 !important; }
.lateral-provider .prov-enf2 { font-size: 16px !important; color: #003c69 !important; }
.menu-provider { margin-top: 30px; }
.lateral-provider .rate-search-container .br-theme-fontawesome-stars-o .br-widget {
  margin-left: 0 !important;
}
.prov-politics h5 { color: #003c69; font-weight: normal; }
.desc-politics { background: #f9f9f9; padding: 15px 15px 30px 15px; margin: 0 -15px; }
.desc-politics p { color: #003c69; font-weight: 500; }
.rating-zone .br-theme-fontawesome-stars-o .br-widget a {
    font: normal normal normal 30px/1 FontAwesome;
}
.rate-container .br-theme-fontawesome-stars-o .br-widget a {
    font: normal normal normal 30px/1 FontAwesome;
}
.rate-container .br-wrapper, .rate-container span { float: left; }
.rate-container span { font-weight: bold; margin: 8px 0 0 10px; }
.comments-container { margin: -15px -15px 0 -15px; padding: 15px 12px 0 12px; }
.comments-container:hover { transition: 0.2s background; background: #fbfbfb; }
.comments-container .info-container { margin: 0 -8px; }
.comments-container .info-container .auth-info { color: #858585; font-weight: bold; margin: 0; }
.comments-container .info-container .auth-info span { color: #424242; }
.comments-container .rate-container { margin-top: 0; }
.comments-container .comment-date { text-align: right; color: #858585; font-weight: bold; }
.pcomment-container { margin: 50px 8px; }
.comments-body { height: auto; max-height: 349px; overflow-y: auto; }
.provider-carousel-img div[class*="slider-img"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  height: 100%;
  width: 100%;
}
.carousel-control .fa-angle-left:before {
    margin-left: -3px;
}
.carousel-control .fa-angle-right:before {
    margin-right: -3px;
}
.contrats-container button {
  width: 100%;
  height: 50px;
  background: #00469a;
  color: #fff;
  border-radius: 30px;
  letter-spacing: 3px;
  margin-bottom: 45px;
}
.contrats-container button:active { background: #00469a; color: white; }
.contrats-container button:hover { background: #00469a; color: white; }
.contrats-container button:focus { outline: none; background: #00469a; color: white; }
.contrats-container button:active:hover:focus { background: #00469a; color: white; outline: none; }
/**************************************
Details
**************************************/
.detail               { border-top: 1px solid #EAEAEA; height: 500px; }
.btn-add, .btn-remove {
	width            : 40px;
	height           : 40px;
	border           : 0;
	background-color : transparent;
	color            : #BFBFBF;
	text-align       : center;
	padding          : 5px;
	font-size        : 20px;
}
.prod-number {
  width            : 65px;
  height           : 40px;
  border           : 2px solid #EAF4F9;
  color            : black;
  background-color : #fff;
  text-align       : center;
  padding          : 5px;
  font-size        : 20px;
  margin-top       : 14px;
}
.btn-addcar { background-color: #00469A; border-radius: 20px; color: white; }
.btn-addcar:hover {
	background-color: white;
	border: solid 1px #00469A;
	border-radius: 20px;
	color: #00469A;
}
.img-social {
	width: 30px;
	height: 30px;
}
.comments, .cancellation {
	border: solid 3px #EAF4F9;
	padding-left: 10px;
}
.cancellation {
	height: 100px;
	overflow-y:scroll;
  text-transform: uppercase;
}
#carousel-bottom > .carousel-control { background-image: none !important; }
#carousel-bottom > .carousel-control > .glyphicon-chevron-left {
	background-color : #1893CC;
	border-radius    : 100%;
	width            : 40px;
	height           : 40px;
	padding-top      : 3px;
	left             : 0% !important;
}
#carousel-bottom > .carousel-control > .glyphicon-chevron-right {
	background-color : #1893CC;
	border-radius    : 100%;
	width            : 40px;
	height           : 40px;
	padding-top      : 3px;
	right            : 0% !important;
}
.detail-img     { height: 100%; position: relative; }
.detail-img img {
	margin            : auto;
	display           : block;
}
.detail-info-body h4, .detail-info-body h6 { margin: 10px 20px; }
.info-price-period 		{ text-align: center; margin: 20px 0; }
.info-price-period h4 { margin-bottom: 0; font-size: 22px;  }
.info-price-period p  { font-size: 13px; font-weight: bold; }
.input-amount {
  margin: 0 !important;
  position: absolute;
  width: 100%;
  padding: 0 15px;
}
.detail-info-body .btn-add, .detail-info-body .btn-remove {
	font-size   : 30px;
	font-weight : bold;
}
.addcar-group { position: relative; padding-top: 15px; }
.detail-info-body .subtotal-price { font-size: 22px; }
.proper-value h4 { text-decoration: underline; }
.provider-social { padding: 0 15px; }
.provider-social a { text-decoration: none; }
.val-coment .br-theme-fontawesome-stars-o .br-widget a {
  font: normal normal normal 25px/1 FontAwesome;
}
.val-coment .br-theme-fontawesome-stars-o .br-widget { margin-left: 0px; }
.val-coment .br-widget                               { margin-bottom: 10px; }
.val-coment .comments h6                             { margin-bottom: 0; }
.detail-carousel .carousel          { padding: 0 3%; }
.dp-margin { margin-top: 160px; margin-bottom: 50px; }
.dp-margin-bottom { margin-bottom: 50px; }
.comment-container {
  height: 500px;
  overflow-y: scroll;
}
.comment-container > .cc-msg:nth-of-type(odd) { background-color: #f9f9f9; }
.cc-msg { padding: 15px; background-color: #FFFFFF; }
.cc-msg-header { padding-top: 30px; padding-bottom: 30px; }
.cc-msg-body { padding-top: 20px; padding-bottom: 40px; }
.msg-author, .msg-ratting, .msg-date { font-weight: bold; }
#cc-ratting-stars, .cc-rs-val { position: absolute; }
#cc-ratting-stars { left: 0; }
.cc-rs-val { right: 30%; top: 0; }
/*************************************
Contractor
 *************************************/
 .btn-gray {
 	color: white;
 	background-color: #BFBFBF;
 	border-radius: 20px;
 	padding: 10px 15px;
 }
 .btn-contractor{
 	background-color: #00469A;
 	border-radius: 20px;
 	color: white;
 	padding: 7px 35px;
 	width: 100%;
 }
 .btn-contractor:hover{
 	background-color: white;
 	border: solid 1px #00469A;
 	color: #00469A;
 }
 .btn-contractor2{
	background-color: #0098D1;
 	border-radius: 20px;
 	color: white;
 	padding: 7px 35px;
 }
 .btn-contractor2:hover{
 	background-color: white;
 	border: solid 1px #0098D1;
 	color: #0098D1;
 }
 .form-contractor{
 	background-color: white !important;
 	border: solid 1px #E4E4E4 !important;
 }
 .detail-contractor { border-top: 1px solid #EAEAEA; }
 .contractor-rate { text-transform: uppercase; }
 .contractor-stars { padding-top: 9px; margin-bottom: 15px; }
 .comments { min-height: 80px; }
 .comments h6 { margin-bottom: 0; }
 .comments p { font-size: 10px; }
 .cm-form-group .form-group { margin-bottom: 25px; }
 .cm-form-control textarea, .cm-form-control select {
  background : white;
  color      : #9e9e9e;
  border     : 1px solid #e4e4e4 !important;
 }
 .cm-form-control textarea::-webkit-input-placeholder {}
 .cm-form-control textarea:-moz-placeholder {}
 .cm-form-control textarea::-moz-placeholder {}
 .cm-form-control textarea:-ms-input-placeholder {}
 .c-modal-marginer { margin: 0 0; border: 1px solid #dbdbdb; padding: 40px; }
 .cm-title         { text-transform: uppercase; font-size: 20px; font-weight: 500; }
 .cm-body          { margin-top: 30px; }
 .cmb-label        { text-transform: uppercase; font-weight: 500; }
 .cmb-text-1       { text-transform: uppercase; letter-spacing: 2px; height: 34px }
 .cmb-ct-text      { letter-spacing: 3px; }
 .cmb-textarea     { resize: vertical; }
 .row-price        { padding-top: 20px; padding-bottom: 30px; }
 .cmb-ct-price {
  font-weight    : 600;
  font-size      : 20px;
  margin-left    : 30px;
  margin-right   : 50px;
  letter-spacing : 2px;
 }
 .select-arrow {
  width             : 20px;
  height            : 20px;
  background-color  : #999999;
  border-radius     : 3px;
  position          : absolute;
  top               : 50%;
  right             : 10px;
  -webkit-transform : translate(0,-50%);
  -ms-transform     : translate(0,-50%);
  -o-transform      : translate(0,-50%);
  transform         : translate(0,-50%);
  cursor            : default;
 }
 .select-arrow:hover { background-color: #858585; }
 .select-arrow i { color: #FFF; font-weight: bold; cursor: default; }
 .arrow-up i, .arrow-down i { color: #9D9D9D; font-weight: bold; }
 .arrow-up i:hover, .arrow-down i:hover { color: #222; }
 .arrow-up, .arrow-down {
  width      : 20px;
  position   : absolute;
  right      : 5px;
  cursor     : pointer;
  text-align : center;
 }
 .arrow-up { top: 0; }
 .arrow-down { bottom: 0; }
 .table-warranty { margin-top: 30px; }
 .table-warranty thead tr th {
  border-bottom  : 2px solid transparent;
  font-weight    : 500;
  text-transform : uppercase;
  text-align     : center;
 }
 .table-warranty tbody tr td {
  border-top: 1px solid transparent;
  text-align: center;
 }
 .table-warranty tbody tr td .btn-ver {
  color            : #fff;
  width            : 100px;
  padding-top      : 2px;
  padding-bottom   : 2px;
  border           : 0;
  border-radius    : 15px;
  background-color : #ABABAB;
  font-weight      : 300;
  text-transform   : uppercase;
 }
 .table-warranty tbody tr td .btn-ver:hover { color: #222; }
 .warranty-hr { border-top: 2px solid #CACACA }
 .warranty-form-1 {
  margin-top: 30px;
 }
 .w-search-icon i {
  color             : #666666;
  position          : absolute;
  right             : 10px;
  top               : 50%;
  -webkit-transform : translate(0,-50%);
  -ms-transform     : translate(0,-50%);
  -o-transform      : translate(0,-50%);
  transform         : translate(0,-50%);
 }
 .fc-hidden {
  border           : 1px solid transparent !important;
  padding-left     : 0;
  padding-bottom   : 0;
  background-color : #fff !important;
  cursor           : default !important;
 }
 .fc-hidden:focus {
  border-color       : transparent;
  -webkit-box-shadow : none !important;
  box-shadow         : none !important;
 }
 /**************************************
Cart
**************************************/
.title-contract h2 {
	text-transform : uppercase;
	color          : #428bca;
	font-size      : 18px;
	margin         : 25px 0;
}
.concept h3 {
	text-transform : uppercase;
	color          : #428bca;
	font-size      : 14px;
	margin         : 7px 0;
}
.description-concept p {
	text-transform : uppercase;
	color          : #838383;
	font-size      : 20px;
	margin         : 0;
}
.total-zone h2 {
	text-transform : uppercase;
	color          : #428bca;
	font-size      : 18px;
	margin         : 10px 0;
}
.total-zone p {
	text-transform : uppercase;
	color          : #181818;
	font-size      : 18px;
	margin         : 5px 0 0 0;
	font-weight    : bold;
}
.payment { padding: 20px; }
.payment h2 {
	text-transform : uppercase;
	color          : #181818;
	font-size      : 18px;
	margin         : 5px 0 0 0;
	font-weight    : normal;
}
.payment-collapse-container .panel-default>.panel-heading {
  color            : #181818;
  /*background-color : #dfdfdf;*/
  border-color     : #dfdfdf;
}
.title-detail-payment { padding-left: 15px; }
.title-detail-payment h3 {
	margin: 0;
  text-transform: uppercase;
  color: #838383;
  font-size: 15px;
}
.charge-balance { margin: 15px 0; text-align: center; }
.title-cb { text-transform: uppercase; color: #0086c7; font-size: 18px; }
.amount-total { font-size: 18px; margin-left: 10px;}
.exception-total { color: #c5c5c5; text-transform: uppercase; font-size: 11px; margin-left: 5px;}
button.pay-button {
	color: #fff;
  background-color: #61dc17;
  border-color: #61dc17;
  text-transform: uppercase;
  width: 100%;
  border-radius: 30px;
 }
 button.pay-button:hover {
  background-color: #9acb50;
  border-color: #9acb50;
 }
 .hide2 { display: none; }
 .dotted-line { border: 2px dashed white; height: 500px; width: 500px; margin: auto; border-radius: 100%;}
 .panel-blue {
  background-color : #e6f2ff;
  padding          : 15px;
  margin-top       : 25px;
  margin-bottom    : 20px;
 }
 .panel-blue h4 { margin: 0; }
 .pl-shadow {
  padding-top       : 30px;
  padding-bottom    : 30px;
  position          : relative;
  z-index           : 2;
  webkit-box-shadow : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow   : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
  box-shadow        : 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
 }
 .ic-form-group { margin-bottom: 18px; }
 .no-ewallet {
  color: #B2B1B3;
  text-transform: uppercase;
  font-size: 11px;
 }
/**************************************
Events
**************************************/
.nav-tabs-custom { border-bottom: none; margin-left: 20px; }
.tab-content-custom { border-top: 1px solid #ddd; }
.nav-tabs-custom > li.active > a { color: #0098d1; }
.nav-tabs-custom > li > a { color: #D4D4D4; border-radius: 0; }
.nav-tabs-custom > li > a:hover { color: #0086c7 !important; border-bottom: 0; }
.nav-tabs-custom > li { margin-bottom: 0; }
.table-custom-event > tbody > tr { background-color: #f9f9f9; }
.table-custom-event > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
.table-custom-event > thead > tr > th {
  border-bottom  : none;
  padding-top    : 15px;
  padding-bottom : 15px;
  font-size      : 13px;
  text-align     : center;
  text-transform : uppercase;
}
.table-custom-event > tbody > tr > td {
  color          : #737373;
  border-top     : none;
  font-size      : 13px;
  font-weight    : 500;
  text-align     : center;
  text-transform : uppercase;
}
.tce-head { background-color: #F2F7FC; }
.tce-head th { color: #0098d1; font-weight: 500; }
.btn-more-events, .btn-cancelar {
  width            : 100px;
  padding          : 2px 0;
  color            : #fff;
  border-radius    : 25px;
  font-size        : 12px;
  font-weight      : 300;
  text-transform   : uppercase;
  background-color : #B1B1B1;
}
.btn-cancelar { width: 100%; padding: 3px 0; }
.row-top { margin-top: 15px; }
.cmb-policies { color: #222; font-size: 11px; font-weight: 500; }
.text-normal { text-transform: none; }
.fg-policies .cmb-text-1 { height: auto; }
.background-bluelight2 {
  padding-top    : 15px;
  padding-bottom : 15px;
  padding-left   : 0;
  padding-right  : 0;
}
.dpdwn-margin { margin-top: 15px; margin-bottom: 15px; }
.dropdown-custom .btn-default {
  border         : none;
  padding        : 0;
  vertical-align : 0;
  margin-left    : 15px;
  text-transform: uppercase;
}
.dropdown-custom .btn-default:hover { background-color: transparent; }
.dropdown-custom .dropdown-menu { left: auto; right: 0; }
.panel-default-comments .panel-body { padding: 0; }
/**************************************
medias
**************************************/
@media (min-width: 1200px) {
	.panel-account .container-fluid, .main-panel .container-fluid, .panel-detail
	.container-fluid, .panel-description .container-fluid, .panel-find
	.container-fluid, .panel-payment .container-fluid, .panel-register
	.container-fluid, .returns-panel .container-fluid, .panel-search
	.container-fluid, .panel-shopping-cart .container-fluid {
	  width: 1170px;
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
}
@media(max-width: 991px) {
	.right-vline { border-right: none;	}
	.margin-top15sm-media { margin-top: 15px; }
	.margin-bottom15sm-media { margin-bottom: 15px; }
	.home-maquinas-container { margin-top: 50px; }
	.links-footer h3 { margin: 15px 0; }
	.home-right-border { border-right: none; }
	.vmiddler { position: relative; transform: translate(0,0); }
	.detail { height: auto; }
  .modal-divider { display: none; }
  .close.close-thisModal { right: -5px; top: -5px; }
  .popover-check { padding: 0 0 0 10px; }
  .header-container.change-responsive { padding: 20px 0 0 0; height: 155px; }
  .text-right.cart-container, .text-right.user-tools { text-align: center !important; }
  .row-nomargin { margin: 0; }
  .copy-footer h4 { text-align: center; }
  .cart-container { width: 100%; }
  .modal { top: 100px; }
  .modal-open .modal { margin-top: 15px; }
  .modal.in .modal-dialog { margin-top: 10px; }

  #cart-modal .modal-body .cart-element .desc1 h4 { font-size: 14px; }
  #cart-modal .modal-body .cart-element .desc1 p { font-size: 13px; }
  #cart-modal .modal-body .cart-element .desc2 h4 { font-size: 11px; }
  #cart-modal .modal-body .cart-element .desc2 h5 { font-size: 11px; }
  .dp-margin { margin-top: 25px; margin-bottom: 15px; }
  .dp-margin-bottom { margin-bottom: 15px; }
  .comment-container { height: 380px; }
  .cc-msg-header, .cc-msg-body { padding-top: 15px; padding-bottom: 15px; }
  .cc-msg-header { padding-bottom: 0; }
  .cc-msg-body { padding-bottom: 25px; }
  .msg-author, .msg-ratting, .msg-date { margin-bottom: 15px; }
}
@media(max-width: 919px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width: 50%;
		float: left;
	}
}
@media(max-width: 767px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width      : 33.33333333%;
	}
	.prod-search { box-shadow : 0 0 0 #b3b3b3; }
	.shopping-all-container * { text-align: center; }
	.amount-total, .exception-total { display: block; }
	.panel-title { text-align: left; }
  .header-container { height: 230px; }
  .header-button-vmiddler.padding-right10 { padding: 0 10px; }
  .header-button-vmiddler.padding-left10 { padding: 0 10px; }

  .c-modal-marginer { padding: 15px 0; }
  .modal { top: 120px; }
  #cart-modal .modal-body .cart-element .item-img-container img { width: 100%; height: auto; }
  .modal-open .modal { margin-top: 0; }
  .modal.in .modal-dialog { margin-top: 10px; }
  #cart-modal .modal-body .cart-element .item-img-container {
    width: auto;
    left: auto;
  }
  #cart-modal .modal-body .cart-element .cart-img-container {
    height: auto;
  }
  #cart-modal .modal-body .cart-element .item-img-container {
    position: relative;
    left: 0;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    width: 100%;
  }
  #cart-modal .modal-body .cart-element .btn1 {
    width: 100%;
    margin-bottom: 10px;
  }
  #cart-modal .modal-body .cart-element .btn2 {
  width: 100%;
  }
  .header-container.change-responsive { height: 125px; }
  .comment-container { height: 300px; }
  .provider-carousel-img div[class*="slider-img"] { background-size: 150%; }
  .row-event-mobile { margin-left: 15px; margin-right: 15px; }
  .row-event-mobile-m2 { margin-left: 0; margin-right: 0; }
  .ntce-m2 { margin-left: 0; }
  .norow-mobile { margin-left: -15px; margin-right: -15px; }
  .col-xs-custom-events {
    width: 33.33333333%; /*col-xs-4*/
    margin-left: 66.66666667%; /*col-xs-offset-8*/
  }
}
@media(max-width: 650px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width: 50%;
	}
  .dotted-line      { height: 400px; width: 400px; }
  .text-slider      { font-size: 45px }
  .text-sliderS     { font-size: 40px; margin-top: 0; }
  .text-slider      { margin-bottom: 0; }
  .carousel-caption { height: 400px; }
}
@media(max-width: 510px) {
  .dotted-line      { height: 350px; width: 350px; }
  .text-slider      { font-size: 45px }
  .text-sliderS     { font-size: 40px; margin-top: 0; }
  .text-slider      { margin-bottom: 0; }
  .carousel-caption { height: 350px; }
  .provider-carousel-img div[class*="slider-img"] { background-size: 200%; }
  .col-xs-custom-events { width: 100%; margin-left: 0; margin-bottom: 15px; }
}
@media(max-width: 475px) {
	[class="col-sm-4 text-center prod-search"],
	[class="col-sm-4 text-center prod-search disabled"] {
		width         : 100%;
		float         : none;
		padding-right : 0;
		padding-left  : 0;
	}
	.prod-search img { padding: 0; }
  .hide1 { display: none; }
  .hide2 { display: inline; }
}
@media(max-width: 440px) {
  .dotted-line      { height: 200px; width: 200px; }
  .text-slider      { font-size: 25px }
  .text-sliderS     { font-size: 20px; margin-top: 0; }
  .text-slider      { margin-bottom: 0; }
  .carousel-caption { height: 200px; }
  .btn-transparente { border-radius: 10px; padding: 5px 10px; }
  .provider-carousel-img div[class*="slider-img"] { background-size: 250%; }
}
@media(max-width: 365px) {
  .cmb-ct-price { margin-left: 15px; margin-right: 0; }
}
@media(max-width: 360px) {
  .btn-ingresar, .btn-solicitar { padding: 10px 0; }
  .detail-img img { width: 100%; }
}

